label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__adress-part{
  margin-top: 10px;
}

.save-button{
  margin-top: 20px;
}
