.table-utils{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.table-select__selector {
  margin: 0 5px;
}

.table__header__head{
  min-width: 80px;
}
